.swiper {
  background: #000;
  height: 450px;
  z-index: 10;
  border-radius: 12px;
}

.mySwiper {
  z-index: 10;
  border-radius: 12px;
}

.swiper-slide {
  border-radius: 12px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  background: #FBFBFB;
  height: 100%;
  width: 130%;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .swiper-slide {
    justify-content: start;
    padding: 24px;
  }

  .swiper {
    height: auto;
  }
}